{{ $pageurl := .Permalink }}
{{ $title := .Title }}

<div class="share-buttons">Share on:
  <a class="fab fa-hacker-news" title="Share this on Hacker News" href="https://news.ycombinator.com/submitlink?u={{ $pageurl }}&t={{ $title }}"></a>
  <a class="fab fa-twitter" title="Share this on Twitter" href="https://twitter.com/share?ref_src=twsrc%5etfw"></a>
  <a class="fab fa-linkedin" title="Share this on Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ $pageurl }}&title={{ $title }}"></a>
  <a class="fab fa-reddit" title="Share this on Reddit" href="https://www.reddit.com/submit?url={{ $pageurl }}&title={{ $title }}"></a>
</div>
